<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="resources/angular.min.js"></script>
</head>
<body data-ng-app="myApp">
<form action="" data-ng-controller="jobctrl" data-ng-submit="submit()" >
Title:<input type="text" data-ng-model="title">
Company:<input type="text" data-ng-model="company">
Job Details:<input type="text" data-ng-model="jobdetails">
 date:<input type="date" data-ng-model="lastdate">
 <input type="submit">
</form>

</body>
</html>